---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Instalaciones from '../components/Instalaciones.astro';
import Entrenadores from '../components/Entrenadores.astro';
import Planes from '../components/Planes.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="IRON GYM | El Templo del Alto Rendimiento">
	<Navbar />
	<main>
		<Hero />
		<Instalaciones />
		<Entrenadores />
		<Planes />
	</main>
	<Footer />
</Layout>